@import '../../vars';
@import '../../extends';

.wrapper {
	background: #fff;
	border-radius: 8px;
	padding: 20px;
	flex-grow: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	margin-bottom: 35px;
	img {
		width: 23px;
		height: 23px;
		max-width: inherit;
	}
}

.title {
	font-size: 24px;
	line-height: 1.16;
	margin-right: 10px;
	overflow-wrap: break-word;
	overflow: hidden;
}

.description {
	max-width: 60%;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 1.16;
}

.btn {
	@extend %button;
	background: $light-gray;
	padding: 6px 18px;
	&:hover {
		background: $blue;
		color: #fff;
	}
}

.textarea {
	display: block;
	margin-bottom: 20px;
	width: 60%;
	min-height: 50vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.16;
}

.cross {
	margin-left: auto;
    display: flex;
	margin-bottom: 5px;
}

@media (max-width: 339px) {
	.textarea {
		width: 100%;
	}
}