@import '../../vars';

.footer {
	min-height: 50px;
	background: $deep-blue;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
	padding: 17px 20px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.16;
}

.classNums {
	display: flex;
	flex-wrap: wrap;
	column-gap: 36px;
	row-gap: 10px;
}

.by {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width:339px) {
	.by {
		display: none;
	}
}