@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
	color: inherit;
}

button {
  font-family: 'Roboto';
  cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
